@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
    margin:0;
    padding:0;
    color:#212121;
}

