@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
    margin:0;
    padding:0;
    color:#212121;
}
html{
    height: 100%;
}
body{
    height: 100%;
}
.app{
    height: 100%;
}
.contents{
    height: 100%;
}
.top-left{
    float:left;
    float: 100%;
    width: 35%;
}
.top-right{
    float:right;
    height: 85%;;
    width: 65%;
}
.logo-top{
    font-family: 'Ubuntu', sans-serif;
    line-height: 75px;
    text-align: center;
}